.ViewAutoList .btnAuto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    border: none;
    background-color: var(--Primary);
    color: var(--White);
    padding: 5px;
}
.ViewAutoList .btnAuto2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    border: none;
    background-color: var(--Primary);
    color: var(--White);
    padding: 0px;
    font-size: 12px;
    margin-left: 0px;
}
.ViewAutoList .btnAuto3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    border: none;
    background-color: var(--BorderInput2);
    color: var(--Paragraph);
    padding: 6px 10px;
    font-size: 12px;
    margin-left: 0px;
}

.ViewAutoList .btnAuto2 svg {
    font-size: 11px;
}
.ViewAutoList .btnAuto3 svg {
    font-size: 12px;
}


.ViewAutoList .searchItensFilter {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
    background: var(--BorderHover);
    border-left: 1px solid var(--Border);
    backdrop-filter: blur(4px);
    position: fixed;
    transform: translateX(0);
    top: 0;
    right: 0;
    height: 100vh;
    width: 650px;
    transition: transform 0.3s ease-in-out;
    z-index: 99;
    box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3);
}
.ViewAutoList .searchItensFilterNone {
    transform: translateX(100%);
    flex-flow: column nowrap;
    background: var(--White);
    border-left: 1px solid var(--Border);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 500px;
    transition: transform 0.3s ease-in-out;
    z-index: 99;
}
.ViewAutoList .searchItensFilter .buttonsFilter {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.ViewAutoList .searchItensFilter .buttonsFilter .btnFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    Background-color: var(--White);
    color: var(--Paragraph);
    font-weight: 500;
    border: 1px solid var(--Gray);
    border-radius: 6px;
    font-size: 12px;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.ViewAutoList .searchItensFilterNone .searchOptionsFilter {
    width: 95%;
    display: none;
}

.ViewAutoList .searchItensFilterNone .buttons {
    width: 95%;
    display: none;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter button svg {
    margin-right: 0px;
}


.ViewAutoList .searchItensFilter .searchOptionsFilter .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color:var(--Paragraph);
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form .imageClient {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid var(--Border);
    border-radius: 6px;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form .imageClient img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid var(--Border);
    border-radius: 6px;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 900;
    color: var(--Primary);
    margin: 5px 0;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 600;
    margin: 2px 0;
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 600;
    margin: 5px 0;
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 700;
    color: var(--Gray);
    margin: 10px 0;
    font-size: 14px;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form svg {
    margin-right: 2px;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form .buttonsContact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 10px;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form .buttonsContact button {
    border-radius: 6px;
    background-color: var(--Primary);
    color: var(--White);
    border: none;
    width: 100%;
    padding: 10px 20px;
}


.ViewAutoList .searchItensFilter .searchOptionsFilter .form .iconsBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0px; 
    padding: 0px 5px;
    flex-wrap: wrap;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form .iconsBox .iconUnicBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0px;
    color: var(--Gray);
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form .iconsBox .iconUnicBox svg {
    font-size: 18px;
    margin-right: 5px;
    color: var(--Gray);
    margin-top: -2px;

}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form .iconsBox .iconUnicBox .simbolBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: center;
    margin: 3px;
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form .iconsBox .iconUnicBox .simbolBox  p {
    color: var(--Paragraph);
    font-weight: 600;
    font-size: 12px;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form .pricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: flex-start;
    margin: 0px;
}

.ViewAutoList .searchItensFilter .searchOptionsFilter .form .pricing h6 {
    color: var(--Gray);
    font-weight: 800;
    margin: 2px 5px;
    text-align: flex-start;
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form .pricing h6 span {
    font-weight: 500;
    color: var(--Gray);
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form .pricing h3 {
    color: var(--Paragraph);
    font-weight: 400;
    margin: 2px 5px;
    text-align: flex-end;
        width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form .pricing span {
    color: var(--Paragraph);
    font-weight: 800;
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form .pricing h4 {
    color: var(--Paragraph);
    font-weight: 400;
    margin: 2px 5px;
    text-align: flex-end;
        width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.ViewAutoList .searchItensFilter .searchOptionsFilter .form .pricing h4 span {
    color: var(--Paragraph);
    font-weight: 800;
}


@media(max-width:600px) {

    
    .ViewAutoList .searchItensFilter {
        width: 100%;
        padding: 20px;
    }


    .ViewAutoList .searchItensFilter .searchOptionsFilter .form {
        width: 100%
    }

   
    @media(max-width: 450px) { 
.ViewAutoList .searchItensFilter .searchOptionsFilter {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .ViewAutoList .searchItensFilter .searchOptionsFilter .form .infosCompany {
            width: 100%;
        }
        

    }

}